
#main{
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  max-width:100%;
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  text-align: center;
  // margin-left:auto;
  // margin-right:auto;
  white-space: nowrap;
  margin: 0 48px;
  z-index: 4;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  overflow:hidden;
}



.linhas{
  margin: 0 -1000%;
}

.elements{
  white-space: nowrap!important;
  display: inline;
  display:inline-block;
  margin:0;
  font-size: 1.5rem;
  padding-left: 0.5rem;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */ /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
