
.containergal, .label {
  position: absolute;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
//
.contcont {
  margin-top: 0;
  margin-left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 1vmin;
}

#galleryoverlay2{
  background-color: $nocolor;
  margin:1rem;
}
 .fa-backward, #galleryoverlay2{
  display: block;
  position: fixed;
  width: 98px;
  height:98px;
  top:0;
  left:0;

  // background-color: white;
}
 .fa-backward{
   color: $yellow;
     margin:1rem;
     width: 98px!important;
     height:98px!important;
     font-size: 6rem;
 }

body .containergal {
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80em;
  height: 80em;
}

body .containergal [class*='item'] {
  width: 33%;
  height: 33%;
  border: 2px solid $nocolor;
  background: url() center center/cover no-repeat;
  transition: all 0.5s ease-in-out;
  z-index: 1;
  // margin:2px;
}
body .containergal [class*='item']:hover {
  border: 2px solid $nocolor;
  z-index: 1;
}
body .containergal [class*='item']:nth-of-type(1) {
  top: 0;
  left: 0;

}
body .containergal [class*='item']:nth-of-type(2) {
  top: 0;
  left: 33%;

}
body .containergal [class*='item']:nth-of-type(3) {
  top: 0;
  left: 66%;

}
body .containergal [class*='item']:nth-of-type(4) {
  top: 33%;
  left: 0;

}
body .containergal [class*='item']:nth-of-type(5) {
  top: 33%;
  left: 33%;
}
body .containergal [class*='item']:nth-of-type(6) {
  top: 33%;
  left: 66%;
}
body .containergal [class*='item']:nth-of-type(7) {
  top: 66%;
  left: 0;
}
body .containergal [class*='item']:nth-of-type(8) {
  top: 66%;
  left: 33%;
}
body .containergal [class*='item']:nth-of-type(9) {
  top: 66%;
  left: 66%;
}
body .containergal input {
  display: none;
}
body .containergal input:checked + [class*='item'] {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
