/*
******MEDIA QUERIES
 */


@media screen and (max-width: 900px) {

  #main{
    margin: 0 24px;
  }

  #firstform{
    // padding: 0 24px;
    margin: 0 24px ;
  }

  #structure{
    margin: 0 24px;
  }
  #send{
    margin-left:24px;
  }
  .thedescription{
    padding:0;
    margin-bottom:0;
  }

}

@media screen and (max-width: 600px) {


  #main{
    margin: 0 12px;
    padding: 0;
  }

}
