

#main{
  /* background-size: cover!important; */

  background-size: 100% 100%;
    background-repeat: no-repeat;
  /* background-size: 100%!important; */
  background-position: 50% 50%;
}

body{
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  font-style: normal;
  background-color: var(--main-bg-color);
}
/*
*
* fix bar
*
*/
#fixtop{
  background-color: var(--main-bg-color-shade);
  position: fixed;
  /* height: 96px; */
  height: 48px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [leftleft] 50% [rightright]50%;
  grid-template-columns: [leftleft] 50% [rightright]50%;
justify-items: center;
top:0;
}
.thetitle{
  font-family: 'Oswald', sans-serif;
  height: 48px;
  -ms-grid-column: rightright;
      grid-column-start: rightright;
   -ms-grid-column-align: end;
       justify-self: end;
   margin-right: 48px;
}

.thetitle h1{
  margin-top: 0px;
  color: var(--second-color-shade);
}

.headermenu{
  height: 48px;
  -ms-grid-column: leftleft;
      grid-column-start: leftleft;
  margin-left: 48px;
-ms-grid-row-align: center;
-ms-grid-column-align: stretch;
place-self: center stretch;
}
#download{
  margin-left: 48px;
}

#download, #opennav{
  background-color: var(--main-bg-color-shade);
}

/*
*
* HEADER
*
*/
#theheader{
background-color: #121417;
    margin-top: 0;
    padding-top: 96px;
    margin: 0 48px;
    margin-bottom: 48px;
    padding-bottom: 24px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: [leftleft] 60%  [rightright]40%;
    grid-template-columns: [leftleft] 60%  [rightright]40%;

}



.thedescription{
  -ms-grid-column: leftleft;
      grid-column-start: leftleft;
  -ms-grid-column-span: NaN;
  grid-column-end: rightright;
  padding:0 48px;
  margin:1rem 0;
}
.examplesbtn{
  height:48px!important;
  -ms-grid-column: rightright;
      grid-column-start: rightright;
  -ms-grid-column-span: NaN;
  grid-column-end: rightright;
  padding-left: 48px!important;
  padding:0 48px;
  -ms-grid-row-align: center;
      place-self: center end;

}
#examples{
  font-family: "lato";
  color: var(--main-bg-color-shade)!important;
  background-color: var(--second-color);
  font-size:.7rem;
  font-weight: bold;
  padding: 0 24px;
  margin-right: 24px;

}

/*
*
* first input
*
*/

#firstformctn{
  width: 100%;
  font-family: "Lato";
}
#firstform{
  /* min-width: 100%; */
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [leftleft] 80%  [rightright]20%;
  grid-template-columns: [leftleft] 80%  [rightright]20%;
  /* margin: 0 2rem; */
  padding: 0 48px;
}
#send, #thewords{
  /* margin-bottom: 48px; */
  min-height: 48px;
  text-align: center;
}

#thewords{
  width: 100%;
  -ms-grid-column: leftleft;
      grid-column-start: leftleft;
  -ms-grid-column-span: NaN;
  grid-column-end: rightright;
  border:0px solid rgba(180, 122, 252, 0);
  background-color: var(--second-color);
}
#thewords:focus{
  border: black;
}
#send{
font-size:.7rem;
  margin-left: 48px;
-ms-grid-column: rightright;
    grid-column-start: rightright;
/* color:var(--main-bg-color)!important;
background-color: var(--second-color)!important; */
font-weight: 900;
/* box-shadow: inset .1em .1em #caccca; */

}
/*
*
* the structure menu
*
*/
#structure,#canvas{
  display: -ms-grid;
  display: grid;
/* width: 100%; */
  -ms-grid-columns: [leftleft] 50%  [rightright]50%;
  grid-template-columns: [leftleft] 50%  [rightright]50%;
  -ms-grid-rows: [first] 48px [second] 48px [third] 48px;
  grid-template-rows: [first] 48px [second] 48px [third] 48px;
  /* margin:0 48px ; */
  margin: 0 48px;
}
#structure > *:nth-child(1), #canvas > *:nth-child(1){
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
#structure > *:nth-child(2), #canvas > *:nth-child(2){
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
#structure > *:nth-child(3), #canvas > *:nth-child(3){
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
#structure > *:nth-child(4), #canvas > *:nth-child(4){
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
#structure > *:nth-child(5), #canvas > *:nth-child(5){
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
#structure > *:nth-child(6), #canvas > *:nth-child(6){
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}
#structure > *:nth-child(7), #canvas > *:nth-child(7){
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
#structure > *:nth-child(8), #canvas > *:nth-child(8){
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}
#structure > *:nth-child(9), #canvas > *:nth-child(9){
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
#structure > *:nth-child(10), #canvas > *:nth-child(10){
  -ms-grid-row: 4;
  -ms-grid-column: 1;
}
#structure > *:nth-child(11), #canvas > *:nth-child(11){
  -ms-grid-row: 4;
  -ms-grid-column: 2;
}
#structure > *:nth-child(12), #canvas > *:nth-child(12){
  -ms-grid-row: 4;
  -ms-grid-column: 3;
}
#structure > *:nth-child(13), #canvas > *:nth-child(13){
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}
#structure > *:nth-child(14), #canvas > *:nth-child(14){
  -ms-grid-row: 5;
  -ms-grid-column: 2;
}
#structure > *:nth-child(15), #canvas > *:nth-child(15){
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}
#structure > *:nth-child(16), #canvas > *:nth-child(16){
  -ms-grid-row: 6;
  -ms-grid-column: 1;
}
#structure > *:nth-child(17), #canvas > *:nth-child(17){
  -ms-grid-row: 6;
  -ms-grid-column: 2;
}
#structure > *:nth-child(18), #canvas > *:nth-child(18){
  -ms-grid-row: 6;
  -ms-grid-column: 3;
}
.valuecont1{
  -ms-grid-column: leftleft;
      grid-column-start: leftleft;
  -ms-grid-row: first;
      grid-row-start: first;
  -ms-flex-line-pack: center;
      align-content: center;

}
#structure #range{
  -ms-grid-column: leftleft;
      grid-column-start: leftleft;
  -ms-grid-row: second;
      grid-row-start: second;
  -ms-grid-column-align: center;
      justify-self: center;
/* margin:4rem!important; */

}
.valuecont2{
  -ms-grid-column: rightright;
      grid-column-start: rightright;
    -ms-grid-row: first;
        grid-row-start: first;

}
#structure #range2{
  -ms-grid-column: rightright;
      grid-column-start: rightright;
  -ms-grid-row: second;
      grid-row-start: second;

}
#structure #range,#structure #range2{
  -ms-grid-column-span: rightright;
  grid-column-end: rightright;
  -ms-grid-row-span: second;
  grid-row-end: second;

  width:100%;

  /* justify-self:start; */
/* justify-self: stâ„retch; */
/* margin:3rem 0!important;
padding:0 2rem; */
}
.rangecont2{
  margin-left:24px;
}
.rangecont1{
  margin-right:24px;
}
#value4{
  text-align: right;
}
/*
*
* THE WALL
*
*/

#main {
  font-family: 'Oswald', sans-serif;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  margin-left:auto;
  margin-right:auto;
  white-space: nowrap;
  margin: 0 48px;
  /* margin-top: -20px; */
  z-index: 4;
  background-color: var(--second-color);
  -o-text-overflow: ellipsis!important;
     text-overflow: ellipsis!important;
  overflow-wrap: break-word;
  /* white-space: pre!important; */
  overflow:hidden;
}

.container .linhas p{
  font-family: "oswald";
  white-space: nowrap!important;
  display: inline;

}

.linhas{
  margin: 0 -1000%;
}

.elements{

  display:inline-block;
  margin:0;
  font-size: 1.5rem;
  color: var(--main-bg-color);
  padding-left: 0.5rem;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */ /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.lightup{
  color: var(--third-color);
  background-color: hsla(50, 33%, 25%, 0%)!important;
}
/*
*
* FOOTER
*
*/
footer{
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-family: "lato";
  color:var(--second-color-shade);
  font-size: .8rem;
}
/*
*
* TRANSITIONS AND MOUSE THINGS
*
*/

#thefooter,#thetitle,#main,#printhis2{
  -webkit-transition: margin-left .5s!important;
  -o-transition: margin-left .5s!important;
  transition: margin-left .5s!important;
}

.enableBlur>* {
  -webkit-filter: blur(1.2px);
          filter: blur(1.2px);
}

.disableBlur {
  -webkit-filter: blur(0);
          filter: blur(0);
}
/*
*
* BACKGROUND IMAGE
*
*/



/* style 1 */

.inputfile-1 + label,#send {
    color: #f1e5e6;
    background-color: var(--third-color);
}
// .fa-trash {
//   color: var(--third-color);
// }

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover,
#send:focus, #send.has-focus,#send:hover

 {
    background-color: var(--third-color-shade);
}
/* .fa-download:focus, .fa-download.has-focus, .fa-download:hover,
.fa-bars:focus,.fa-bars.has-focus,.fa-bars:hover, */
// .fa-trash:focus,
// .fa-trash.has-focusring,
// .fa-trash:hover {
//   color: var(--third-color-shade);
// }

// .fa-trash,.deleteimage{
//   background-color: var(--main-bg-color-shade);
//   /* height: 48px; */
//   /* line-height: 1.3;
//   margin-left: .1rem; */
//
// }

#deletebutton{
  background-color: var(--main-bg-color-shade);
  // margin-top: -13px;
  // border: 2px solid var(--second-color-shade);
}

#deletebutton:hover{
  color: var(--second-color);
}
.deletecnt{

  /* border-style: inset; */
  text-align: center;
  max-height: 48px;
  box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
// margin-left:.5em;
}
// #deletebutton{
//
//   border:0;
//   margin: 0;
//   padding:0;
//   border: 2px solid var(--third-color);
//   /* border-bottom: 8px solid; */
//   /* align-self: center; */
// }
// #deletebutton:hover{
//   border: 2px solid var(--third-color-shade);
// }
.fa-trash{
  line-height: 1;
}
.uploadcont{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      margin-bottom: 48px;
}
form{
  padding: 1rem;
}
