/*
* === MENU ===
*/

.menucontainer {
  height: 100%;
  width: 0;
  position: fixed;
  /* z-index: 1; */
  top: 0;
  left: 0;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background-color:var(--main-bg-color-shade);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack:distribute;
      justify-content:space-around;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
      z-index: 20;
}

.myoptions{
  width:100%;
  margin:1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
          margin-bottom: 2rem;
}

p{
  color:var(--second-color-shade);
  font-family: "lato";
}

.morewords{
  margin-bottom: 2rem;
}

/*
* === MENU BUTTON ===
*/

.navnav,.closebtn{
  background-color: var(--main-bg-color);
  font-size: 36px;
  /* margin:1rem; */
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

/*
* === INPUT ADD EDIT DELETE ===
*/


.fa, .wordbuttons{
  font-size: 2rem!important;
}
button, li{
  color:var(--second-color-shade);
  cursor:pointer;
  border: 1px solid transparent;
}



.myoptions button:focus, .fa-bars:focus {
  outline-color:rgba(82, 112, 115, 0)!important;
  outline-style: none;
}
.wordbuttons{
  background-color:transparent;
}

/*
*
*buttons
*
*/
 #printhis:focus{
   outline-color:rgba(82, 112, 115, 0)!important;
   outline-style: none;
 }

.navnav:focus,.openclose:focus{
  outline-color:var(--main-bg-color-shade)!important;
  background-color: var(--main-bg-color-shade)!important;
}

button{
  cursor:pointer;
  min-width: 48px;
  min-height: 48px;

}

/**
 * Firefox Fix
 * Without that the submit button will be too high.
 */
button::-moz-focus-inner, li::-moz-focus-inner {
    border: 0;
}

/*
* === USERS WORDS ===
*/




#list {
  width: 100%;
  display: block;
  -webkit-padding-start: 0;
     -moz-padding-start: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
  -webkit-box-pack:justify;
      -ms-flex-pack:justify;
          justify-content:space-between;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  list-style-type: none;
}

li{
  background-color: var(--main-bg-color-shade);
  -ms-flex-preferred-size:100%;
      flex-basis:100%;
  color: var(--second-color-shade);
  border: 1px solid var(--second-color-shade);
  font-family: "Lato";
  line-height: 2.9;
  text-align: center;
  margin: auto;
  margin-bottom: .5rem;
}

li:active{
  outline-color:var(--second-color)!important;
  background-color: var(--second-color-shade)!important;
  color: var(--main-bg-color)!important;
}

li.selected{
  outline-color:var(--second-color)!important;
  background-color: var(--second-color-shade)!important;
  color: var(--main-bg-color)!important;
  font-weight:var(--main-bg-color-shade)!important;
}

/*
******  more words
 */

.myslider,#range3,#bgcolor,#textcolor,#hightlightcolor{
  width:100%;
  font-family: "lato";
  margin-bottom: 48px;
}
#bgcolor,#textcolor,#hightlightcolor{
  border: 0px solid transparent;
  height: 46px;
  text-align: center;
  /* padding-left: 1rem; */
}

#range2,#wordspace{
  /* margin-bottom: 3rem; */
}

/*
******SLIIIDERS
 */
 input[type=range] {
   -webkit-appearance: none;
   width: 100%;
   margin: 14px 0;
   margin-bottom: 48px;
 }
 input[type=range]:focus {
   outline: none;
 }
 input[type=range]::-webkit-slider-runnable-track {
   width: 100%;
   height: 2px;
   cursor: pointer;
   -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
           box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
   background: #979695;
   border-radius: 10.3px;
   border: 0px solid #010101;
 }
 input[type=range]::-webkit-slider-thumb {
   -webkit-box-shadow: 0.3px 0.3px 0px #000000, 0px 0px 0.3px #0d0d0d;
           box-shadow: 0.3px 0.3px 0px #000000, 0px 0px 0.3px #0d0d0d;
   border: 0px solid rgba(151, 150, 149, 0);
   height: 30px;
   width: 30px;
   border-radius: 30px;
   background: #979695;
   cursor: pointer;
   -webkit-appearance: none;
   margin-top: -14px;
 }
 input[type=range]:focus::-webkit-slider-runnable-track {
   background: #979695;
 }
 input[type=range]::-moz-range-track {
   width: 100%;
   height: 2px;
   cursor: pointer;
   box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
   background: #979695;
   border-radius: 10.3px;
   border: 0px solid #010101;
 }
 input[type=range]::-moz-range-thumb {
   box-shadow: 0.3px 0.3px 0px #000000, 0px 0px 0.3px #0d0d0d;
   border: 0px solid rgba(151, 150, 149, 0);
   height: 30px;
   width: 30px;
   border-radius: 30px;
   background: #979695;
   cursor: pointer;
 }
 input[type=range]::-ms-track {
   width: 100%;
   height: 2px;
   cursor: pointer;
   background: transparent;
   border-color: transparent;
   color: transparent;
 }
 input[type=range]::-ms-fill-lower {
   background: #979695;
   border: 0px solid #010101;
   border-radius: 20.6px;
   box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
 }
 input[type=range]::-ms-fill-upper {
   background: #979695;
   border: 0px solid #010101;
   border-radius: 20.6px;
   box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
 }
 input[type=range]::-ms-thumb {
   box-shadow: 0.3px 0.3px 0px #000000, 0px 0px 0.3px #0d0d0d;
   border: 0px solid rgba(151, 150, 149, 0);
   height: 30px;
   width: 30px;
   border-radius: 30px;
   background: #979695;
   cursor: pointer;
   height: 2px;
 }
 input[type=range]:focus::-ms-fill-lower {
   background: #979695;
 }
 input[type=range]:focus::-ms-fill-upper {
   background: #979695;
 }
 input.white.slider{
   height:2px;
 }



 
/*
*
* INPUT RADIO
*
*/
.control {
    /* font-family: arial; */
    display: block;
    position: relative;
    padding-left: 40px;
    margin-bottom: 30px;
    padding-top: 4px;
    cursor: pointer;
    font-size: 18px;
}
    .control input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
.control_indicator {
    position: absolute;
    top: 0px;
    left: 0;
    height: 30px;
    width: 30px;
    background: #979695;
    border: 0px solid #000000;
}
.control-radio .control_indicator {
    border-radius: 50%;
}

.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
    background: #d1d5da;
}

.control input:checked ~ .control_indicator {
    background: var(--second-color);
}
.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
    background: var(--second-color);
}
.control input:disabled ~ .control_indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}
.control_indicator:after {
    -webkit-box-sizing: unset;
            box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}
.control input:checked ~ .control_indicator:after {
    display: block;
}
.control-radio .control_indicator:after {
    left: 12px;
    top: 12px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: #ffffff;
}
.control-radio input:disabled ~ .control_indicator:after {
    background: #7b7b7b;
}
 /*
* scroll bar
 */

 /* width */
 ::-webkit-scrollbar,.scroller {
   width: 20;
 }
 /* Track */
 ::-webkit-scrollbar-track{
   background: var(--main-bg-color-shade);;
 }
 /* Handle */
 ::-webkit-scrollbar-thumb {
   background: var(--second-color-shade);
 }
 /* Handle on hover */
 ::-webkit-scrollbar-thumb:hover{
   background: var(--second-color-shade);
 }


 .hide{
   display: none;
 }

.brushop{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
min-width: 100%;
}





  .sidenav-overlay {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      opacity: 0;
      height: 120vh;
      background-color: rgba(0,0,0,.5);
      z-index: 19;
      display: none;
  }
  h3{
    height:48px;
    font-family: "oswald";
    color:var(--main-bg-color);
    background-color: var(--second-color-shade);
    width: 100%;
    border-left: 1rem solid var(--second-color-shade);
    border-right: 1rem solid var(--second-color-shade);
    margin-left: -1rem;
    margin-top: 0;
     margin-bottom: 48px;
padding-left: 1rem;
margin-right: -1rem;
    /* margin-top: 2rem; */
    line-height: 2.5;
    white-space: nowrap;
    /* padding: 0 5px; */
  }
  .myoptions{
    margin-top: 0;
  }
  .morewords form{
    padding-top: 0;
  }

  #mySidenav > div > h3{
    margin-top: 0;
  }


  /* .svg-inline--fa{
    display: inline-grid;
    max-width: 100%;max-height: 100%;
  } */
  .brushop label{
    min-width:100%;
    margin-bottom: 24px;
    margin-top: 24px;
  }
  // .control label{
  //   margin-top: 48px;
  // }
  label{

    font-family: "lato";
    /* align-self: center;
    text-align: center; */
    color: var(--second-color-shade);
    font-size: .9rem!important;
    display: inline-block!important;
    text-align: center;


  }
  .control_indicator{
display: block;
left:36%;
/* width: 100%; */
margin-bottom: 6rem;
/* margin-left:6rem; */
  }

  #output-text{
    margin-top:1rem;
    margin-bottom: .5rem;
    color:var(--second-color-shade);
  }

  .select-css {
    display: block;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    color: var(--main-bg-color);
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 100%;
    max-width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    -webkit-box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
            box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--second-color-shade);
    /* background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
     background-repeat: no-repeat, repeat; */
    /* background-position: right .7em top 50%, 0 0; */
    background-size: .65em auto, 100%;
}
.select-css::-ms-expand {
    display: none;
}
.select-css:hover {
    border-color: #888;
}
.select-css:focus {
    border-color: #aaa;
    -webkit-box-shadow: 0 0 1px 3px var(--second-color);
            box-shadow: 0 0 1px 3px var(--second-color);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
}
.select-css option {
    font-weight:normal;
}

/*
*
* input file
*
*/
.fileContainer {
    overflow: hidden;
    position: relative;
}

.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

/* Example stylistic flourishes */

.fileContainer {
    background: var(--second-color-shade);
    // border-radius: .5em;
    float: left;
    padding: .5em;
}
.fileContainer:hover{
  background-color: var(--second-color);
}

.fileContainer [type=file] {
    cursor: pointer;
}
.fa-upload{
  color:var(--main-bg-color);
  padding: 0 48px;
}
